body{
    background-color: #f7f4f1;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d19793;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  60px; 
    text-align: center;                   

}
h2{
    color: #545b55;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 36px;
    margin-top: -40px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    cursor: pointer;
}

@media screen and (min-width: 789px) {
    .cuadrado:hover {
        background-color: #545b55;
        transform: scale(1.1);
    }
}


.cuadrado1, .cuadrado2 {
    width: 510px;
    height: 40jkpx;
    background-color: #ccc7ae;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cuadrado h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


p {
    margin-top: -10px;
    margin-left: 10px;
}

.Educacion {
    overflow: hidden;
}

#containerE img {
    height: 150px;
    width: 150px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    margin-left: 10px;
}


.Educacion>h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#d19793;
    font-size: 26px;
    margin-left: 10px; 
}


a {
    text-decoration: none;
    color: inherit;
}

#containerE p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#containerE {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Conocimientos>h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#d19793;
    font-size: 26px;
    margin-left: 10px;
}

.cuadros {
    display: flex;
  }
  
  .cuadro {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .cuadro img {
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: 0 auto 10px;
    margin-top: 15px;
  }
  
  .cuadro p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
  }

  .nivel {
    color: #545b55;
  }
  footer {
    background-color: #545b55;
    color: azure;
    margin-top: 30px;
    height: 2%;
    text-align: center;
}

footer>h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;
    margin-left: 15px;
}